<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- creamos los beans con los que trabajara Spring -->
	<bean id="clienteDAO" class="modelo.ClienteDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>

	<bean id="servicioDAO" class="modelo.ServicioDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
		<!-- para modificar el valor de jdbcTemplate que es el nombre de la 
		variable de la clase en servicioDao, necesita el setter y ref=jdbcTemplate 
		hace referencia al beans creado mas abajo con los datos de la base de datos-->
	</bean>

	<bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
		<!--
		 constructor-arg se refiere al argumento o parametro que se le parara por el contructor de la clase
		 -->
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/BServicios" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>

</beans>
